<button class="caurousel-button button previous-button"><img src="../../../assets/image-removebg-preview.png" width="25" alt=""></button>
<div class="carousel">
  <ng-container *ngFor="let image of images; let i = index">
    <img [src]="image.src" class="slide" alt="" />
  </ng-container>
</div>
<button class="caurousel-button next-button"><img src="../../../assets/image-removebg-preview.png" width="25" alt=""></button>
<div class="dotcontainer">
  <span *ngFor="let image of images; let i = index" class="dot"> ● </span>
</div>
