@import url(../../../styles.scss);

.toolbar-header{
  background-color: #0D00A3;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding: 2.5%;
  position: sticky;
  margin: 0;

  .button{
    background-color: #0D00A3;
    border: none;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 16px;
    cursor: pointer;
  }

  button:hover{
    background-color: darkblue;
    border-radius: 10px;
  }

}

.toolbar-buttons{
  box-sizing: border-box;
  position: absolute;
  left: 55%;
}
