@import url(../../../styles.scss);

h1{
  font-family: "Alumni Sans", sans-serif;
  font-size: 150px;
  font-weight: 900;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

p{
  font-family: "Alumni Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: auto;
  text-align: center;
  width: 70%;
}
